[Unit]
Description=Serf Dynamic Group Membership (hashicorp) 
Wants=rocks-rc-post.service
After=rocks-rc-post.service

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=serf
Environment=GOMAXPROCS=2
ExecStart=/usr/bin/nohup /opt/rocks/bin/serf agent -config-dir /etc/serf/ < /dev/null
ExecStop=/opt/rocks/bin/serf leave -rpc-auth=$(cat /etc/serf/rpcauth)

[Install]
WantedBy=multi-user.target
