
/* background color for the frames */
.ProBackground {
    background-color: #334455;
}

/* frame title font */
.ProTitle { 
    color:  #F4C600;
    text-align: center;
}

/* label in "workarea" and "help" */
.ProLabel {
    color: #CECECE;
    font-size: 11pt;
    font-weight: bold;
}

/* form input in "workarea" */
.ProInput {
    color: #112233;
    background-color: #b5c9e2;
}

/* form input in "workarea" when the wrong value is entered */
.ProInputError {
    color: #112233;
    background-color: red;
}


/* help text in "help" */
.ProHelpText {
    color: #BBCCDD;
    font-size: 10pt;
}

/* status message text in "status" */
.ProStatusText {
    color: #BBCCDD;
    font-size: 10pt;
}

/* button style in "workarea" */
.ProButton {
    color: #112233;
    background-color: #b5c9e2;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 20px;
    border-top: 2px #cce3ff solid;
    border-left: 2px #cce3ff solid;
    border-bottom: 2px #223344 solid;
    border-right: 2px #223344 solid;
}

/* button with mouse over in "workarea" */
.ProButtonHover {
    color: #112233;
    background-color: #E2Ba03;
    border-top: 2px #223344 solid;
    border-left: 2px #223344 solid;
    border-bottom: 2px #cce3ff solid;
    border-right: 2px #cce3ff solid;
}

/* tiled background */
.TiledBanner {
    text-align: center;
    line-height: 90px;
    background-image: url(bg-blue.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    font-size: 16pt;
    font-weight: bold;
}
