<?xml version="1.0" standalone="no"?>

<kickstart interface="public">

	<description>
	The 'server node' in the graph.

	This file is used as a connection point for other XML
	configuration nodes.
	</description>

        <copyright>
        Copyright (c) 2000 - 2008 The Regents of the University of California.
        All rights reserved. Rocks(r) v5.1 www.rocksclusters.org
        </copyright>


<package>roll-base-usersguide</package>
<package>rocks-config-server</package>
<package>rocks-admin</package>
<package>firefox</package>


<post>

<!-- On servers, turn off auto reinstall -->
/sbin/chkconfig rocks-grub off

</post>


<!-- default configuration for firefox -->
<post>

<file name="/tmp/all-rocks.js" perms="0444">
pref("app.update.auto", false);
pref("app.update.enabled", false);
pref("app.update.autoInstallEnabled", false);
pref("browser.backspace_action",            2);
pref("browser.display.use_system_colors",   true);
pref("browser.link.open_external",          3);
pref("browser.shell.checkDefaultBrowser",   false);
pref("general.smoothScroll",                true);
pref("intl.locale.matchOS", true);
pref("browser.startup.homepage", "http://127.0.0.1/");
</file>

rm -f /usr/lib/firefox-*/defaults/preferences/all-redhat.js
mv /tmp/all-rocks.js /usr/lib/firefox-*/defaults/preferences/

</post>


</kickstart> 

