<?xml version="1.0" standalone="no"?>

<kickstart interface="public">

	<description>
	The 'server node' in the graph.

	This file is used as a connection point for other XML
	configuration nodes.
	</description>

        <copyright>
        Copyright (c) 2000 - 2011 The Regents of the University of California.
        All rights reserved. Rocks(r) v5.4.3 www.rocksclusters.org
        
        </copyright>


<package>roll-base-usersguide</package>
<package>rocks-developersguide</package>
<package>rocks-config-server</package>
<package>rocks-admin</package>
<package>firefox</package>
<package>eclipse</package>
<package>pdsh</package>


<post>

<!-- On servers, turn off auto reinstall -->
/sbin/chkconfig rocks-grub off

</post>


<!-- default configuration for firefox -->
<post>

<file name="/tmp/all-rocks.js" perms="0444">
pref("app.update.auto", false);
pref("app.update.enabled", false);
pref("app.update.autoInstallEnabled", false);
pref("browser.backspace_action",            2);
pref("browser.display.use_system_colors",   true);
pref("browser.link.open_external",          3);
pref("browser.shell.checkDefaultBrowser",   false);
pref("general.smoothScroll",                true);
pref("intl.locale.matchOS", true);
pref("browser.startup.homepage", "http://127.0.0.1/");
</file>

rm -f /usr/lib/firefox-*/defaults/preferences/all-redhat.js
mv /tmp/all-rocks.js /usr/lib/firefox-*/defaults/preferences/

</post>

<post>

<file name="/etc/rc.d/rocksconfig.d/post-90-num-cpus" perms="755">
#!/bin/bash
#
# set the correct number of CPUs for the frontend on each boot
#
/opt/rocks/bin/rocks set host cpus localhost \
	`grep 'processor' /proc/cpuinfo | wc -l`
</file>

</post>

<post>
<!-- optionally set the airboss attribute -->

AIRBOSS=`/bin/cat /proc/cmdline | /bin/awk \
	'BEGIN {RS="[[:space:]]"; FS="="} /airboss/{print $2}'`

if [ "$AIRBOSS" != "" ]
then
	/opt/rocks/bin/rocks add host attr localhost airboss $AIRBOSS
fi

</post>


<post>

<!--
	all rolls added to a running frontend will be added 'on the fly', so
	set the roll_install_on_the_fly ottribute to true.

	'shadow=yes' means that root and apache can access this attribute,
	but it will not show up in 'rocks dump' so it won't pollute the
	restore roll.
-->

<file name="/etc/rc.d/rocksconfig.d/post-02-on-the-fly" perms="755">
/opt/rocks/bin/rocks set host attr localhost roll_install_on_the_fly true \
	shadow=yes
</file>

rm -f /etc/rc.d/rocksconfig.d/post-02-on-the-fly
</post>

<!--
	Set max allowable "rocks sync host"
	parallel instances to 64. This is modifiable
	over the running of the cluster.
-->
<post>
/opt/rocks/bin/rocks add host attr localhost \
	max_parallel_proc 64
</post>

</kickstart> 
