<?xml version="1.0" standalone="no"?>

<kickstart interface="public">

	<description>
	The 'server node' in the graph.

	This file is used as a connection point for other XML
	configuration nodes.
	</description>

        <copyright>
        Copyright (c) 2000 - 2009 The Regents of the University of California.
        All rights reserved. Rocks(r) v5.2 www.rocksclusters.org
        
        </copyright>


<package>roll-base-usersguide</package>
<package>rocks-config-server</package>
<package>rocks-admin</package>
<package>firefox</package>
<package>eclipse</package>


<post>

<!-- On servers, turn off auto reinstall -->
/sbin/chkconfig rocks-grub off

</post>


<!-- default configuration for firefox -->
<post>

<file name="/tmp/all-rocks.js" perms="0444">
pref("app.update.auto", false);
pref("app.update.enabled", false);
pref("app.update.autoInstallEnabled", false);
pref("browser.backspace_action",            2);
pref("browser.display.use_system_colors",   true);
pref("browser.link.open_external",          3);
pref("browser.shell.checkDefaultBrowser",   false);
pref("general.smoothScroll",                true);
pref("intl.locale.matchOS", true);
pref("browser.startup.homepage", "http://127.0.0.1/");
</file>

rm -f /usr/lib/firefox-*/defaults/preferences/all-redhat.js
mv /tmp/all-rocks.js /usr/lib/firefox-*/defaults/preferences/

</post>

<post>

<file name="/etc/rc.d/rocksconfig.d/post-90-num-cpus" perms="755">
#!/bin/bash
#
# set the correct number of CPUs for the frontend on each boot
#
/opt/rocks/bin/rocks set host cpus localhost \
	`grep 'processor' /proc/cpuinfo | wc -l`
</file>

</post>

<post>
<!-- optionally set the VM controller attribute -->

VMCONTROLLER=`/bin/cat /proc/cmdline | /bin/awk \
	'BEGIN {RS="[[:space:]]"; FS="="} /vmcontroller/{print $2}'`

if [ "$VMCONTROLLER" != "" ]
then
	/opt/rocks/bin/rocks add host attr localhost vm-controller $VMCONTROLLER
fi

</post>

</kickstart> 

