[Unit]
Description=Rocks channeld alert service 
Requires=rpcbind.service
After=rpcbind.service
Wants=rocks-rc-post.service
After=rocks-rc-post.service

[Service]
Type=forking
PIDFile=/var/run/channeld.pid
ExecStart=/opt/rocks/sbin/channeld -p /var/run/channeld.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
